.title{ 
    margin-bottom: 10px; 
    text-align:center; 
    width: 210px; 
    color:green; 
    border: solid black 2px; 
    } 

.select {
    align-items: center;
    }

#txt_result {
    color: white;
    background-color: blue; 
    border: solid white 1px;
    height: 30px;
    }

.btn_change {
    background-color: grey; 
    color: white; 
    border: solid white 1px; 
    width:100% 
}

#table {
    width: 200px;
    height: 200px;
    background-color: black;
}

#body {
    background-color: rgb(194, 192, 192);
}

.selection {
        margin-bottom: 10px;
}